<h1>Listing revisions</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Project</th>
      <th>Commit</th>
      <th>Unix Time</th>
      <th>Human Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @revisions.each do |revision| %>
      <tr>
        <td><%= revision.project.name %></td>
        <td><%= revision.commit_id %></td>
        <td><%= revision.epoch_time %></td>
        <td><%= revision.time %></td>
        <td><%= link_to 'Show', revision %></td>
        <td><%= link_to 'Edit', edit_revision_path(revision) %></td>
        <td><%= link_to 'Destroy', revision, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Revision', new_revision_path %>
