<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= link_to @revision.project.name, @revision.project %>
</p>

<p>
  <strong>Commit:</strong>
  <%= @revision.commit_id %>
</p>

<h3>Files</h3>
<ul>
<% @revision.items.each do |item| %>
<li><%= link_to item.name.sub(/^(public\/project_revisions)/, ''), "/"+item.name.sub(/^(public\/)/, '') %></li>
<% end %>
</ul>
<%= link_to 'Edit', edit_project_revision_path(@project, @revision) %> |
<%= link_to 'Back', project_revisions_path %>
