<h1>Listing projects</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Git</th>
      <th>Name</th>
      <th>Dir</th>
      <th>Revs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.git %></td>
        <td><%= project.name %></td>
        <td><%= project.dir %></td>
        <td>
          <ul>
        <% project.revisions.each do |rev| %>
            <li><%= link_to rev.commit_id, rev %></li>
        <% end %>
          </ul>
        </td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
