<p id="notice"><%= notice %></p>

<p>
  <strong>Folder:</strong>
  <%= @item.folder %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @item.content %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
